# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
target/
out
gen
ly-item/ly-item-service/src/main/resources/application.yml
ly-search/src/main/resources/application.yml
ly-page/src/main/resources/application.yml
ly-user/ly-user-service/src/main/resources/application.yml
ly-sms/src/main/resources/application.yml


