spring:
  application:
    name: page-service
  thymeleaf:
    cache: false
  rabbitmq:
    virtual-host: /leyou
    host: kelechen.cn
    username: leyou
    password: Ch1065670082.
server:
  port: 8084
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka